body {background-color: #1697a5;}

main {border:15px; border-color: red;}

.pf {padding-left: 8.5rem;}

.profile {border-radius: 50%;}

.dados {display: flex; padding-left: 8rem; }

.name {padding-right: 1rem;}

.age {color: silver;}

.home {color: silver; text-align: center;}

.container2 {background-image: url(../images/bg-pattern-card.svg);}

.interno {background-color: white; padding-top: 2rem;}

.top {width: 100vw;}