.box {background-color: #ffffff; 
    width: 90vw;
    border-radius: 10px; 
    overflow: hidden; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;}

body {
    background: url(../images/bg-pattern-bottom.svg) bottom -550px right -650px no-repeat, 
    url(../images/bg-pattern-top.svg) top -625px left -700px no-repeat; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #19a2a3; }

/* .header {position: absolute;left: -50vw; top: 0px; width: 100vw; margin-right: 13rem; align-items: left;} */

.victor {padding-left: 3rem; 
    padding-right: 3rem;}

.victor img {border-radius: 50%;}

/* .footer {position:absolute; right: -50vw; top: 300px; width: 100vw;}  */

.box-footer {display: flex; 
    flex-direction: row;}

.metricas {padding: 1.5rem 1rem 1.5rem 0.5rem;}

.about {display: flex; 
    flex-direction: row; 
    justify-content: center; 
    padding-top: 1rem;}

.about p {padding-right: 0.5rem;}



.local {display: flex; justify-content: center; padding-top: 1rem;}

.box-header img {width: 100%; border-radius: 10px 10px 0px 0px;}